*.*project
*.komodo*
*.pyc
*.dll
*.egg-info
build
dist/
docs/_build
.DS_Store
.eggs/
wheelhouse/
fixed_wheels/
docs/License.html
docs/LICENSE
pymediainfo/libmediainfo.*
pymediainfo/libzen.*
pymediainfo/MediaInfo.dll
